#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

override_dh_installinit:
	install -p -D -m755 init-script/convergence \
		$(CURDIR)/debian/convergence-notary/etc/init.d/convergence-notary
	dh_installinit --onlyscripts
